<h1><%= @user.first_name %> <%= @user.last_name %> <em>(<%= @user.username %>)</em></h1>

<%= render partial: 'users/list_attendance',
           locals: { 
             title: "Events by #{@user.first_name}",
             events: @user.events,
             empty_message: 'No events hosted yet.' 
           } %>

<%= render partial: 'users/list_attendance',
           locals: { 
             title: 'Attendances',
             events: @user.attended_events.future,
             empty_message: 'No upcoming events.' 
           } %>

<%= render partial: 'users/list_attendance',
           locals: { 
             title: 'Past Events Attended',
             events: @user.attended_events.past,
             empty_message: 'No past events attended.' 
           } %>